@font-face {
  font-family: '77';
  src: url(../../../fonts/77/1.0.0/77.eot?v=1.0.0);
  src: url(../../../fonts/77/1.0.0/77.eot?v=1.0.0) format("embedded-opentype"), url(../../../fonts/77/1.0.0/77.ttf?v=1.0.0) format("truetype"), url(../../../fonts/77/1.0.0/77.woff?v=1.0.0) format("woff"), url(../../../fonts/77/1.0.0/77.svg?v=1.0.0) format("svg");
  font-weight: 400;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: "77" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-free:before {
  content: "\e900";
}

.dashicons-77-free:before {
  content: "\e900";
  font-family: "77";
}

.notice.warning {
  background-color: #ffebe8;
  border-color: #c00;
}

.notice.info {
  background-color: #e0efff;
  border-color: #21759b;
}

.wrap-77 .page-title-action-container {
  display: inline;
  float: right;
}

.wrap-77 .nav-tab-right {
  margin-left: 0;
  margin-right: .5em;
}

.wrap-77 .float-right {
  float: right;
}

@media screen and (max-width: 600px) {
  .wrap-77 .nav-tab-right {
    margin: 10px 0 0 10px;
  }

  .wrap-77 .mobile-hidden {
    display: none;
  }
}
.wrap-77 form label {
  margin-bottom: 10px;
  display: block;
}

.wrap-77 form table tbody td {
  vertical-align: top;
}

.wp77-color-red {
  color: #a00;
}

.wrap-77 form label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrap-77 .xs-visible, .wrap-77 .sm-visible, .wrap-77 .md-visible, .wrap-77 .lg-visible {
  display: none;
}

@media (max-width: 767px) {
  .wrap-77 .xs-visible {
    display: inline-block !important;
  }

  .wrap-77 .xs-hidden {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .wrap-77 .xs-visible.sm-visible {
    display: inline-block !important;
  }

  .wrap-77 .xs-hidden.sm-hidden {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .wrap-77 .xs-visible.md-visible {
    display: inline-block !important;
  }

  .wrap-77 .xs-hidden.md-hidden {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .wrap-77 .xs-visible.lg-visible {
    display: inline-block !important;
  }

  .wrap-77 .xs-hidden.lg-hidden {
    display: none !important;
  }
}
.wrap-77 .textarea-auto-height {
  line-height: normal;
}

body.js .wrap-77 .textarea-auto-height {
  resize: none;
}